@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
         <span><i class="<i class="bi bi-house-door-fill"></i>"></i></span>

        <section>

            <article>
                <h1>Article 1 title</h1>
                <p>Article 1 Paragraph</p>
            </article>        

            <aside>
                <section>Placeholder for links related to the articles</section>
                <section>Placeholder for images related to the articles</section>
            </aside>

        </section>
</div>