@{
    ViewData["Title"] = "Acerca de";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <article>
        <div class="container padding-32" id="about">
            <p><h3>Curso: PROGRAMACIÓN AVANZADA EN WEB [3101]</h3></p>
            <p><h3>Tarea: 2 Aplicación para manejo de servicios y edificios</h3></p>
            <p><h3>Estudiante: Allan Alberto Naranjo Chacón</h3></p>
            <p><h3>Grupo: 01</h3></p>
        </div>
    </article>
    <aside>


    </aside>
</div>