<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyAvanzWeb.Tarea2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProyAvanzWeb.Tarea2.styles.css" asp-append-version="true" />
</head>
<body>
    <header style="text-align:center;">

            <h1 id="logo">Allan Naranjo Chacón</h1>

            <ul class="nav nav-pills" role="tablist" style="text-align:center;">
                <li role="presentation">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Principal<img src="~/images/home.png" alt="Principal" style="width:30%"></a>
                </li>
                <li role="presentation">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Edificios" asp-action="Index">Edificios<img src="~/images/edificio.png" alt="edificio" style="width:50%"></a>
                </li>
                <li role="presentation">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Servicios" asp-action="Index">Servicios<img src="~/images/servicios.png" alt="servicios" style="width:50%"></a>
                </li>
                <li role="presentation">
                    <a class="nav-link text-dark" asp-area="" asp-controller="ServiciosEdificio" asp-action="Index">Asignar servicios<img src="~/images/servicioxedificio.png" alt="servicios por edificio" style="width:27%"></a>
                </li>
                <li role="presentation">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Acerca de<img src="~/images/Catalogo.png" alt="acerca de..." style="width:27%"></a>
                </li>
            </ul>
    </header>


    <div class="container">
        <article>
            <section>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        </section>
        </article>
        <aside>
             <div class="container padding-32" id="about">
            <h3 class="border-bottom border-light-grey padding-16">Acerca de</h3>
            <p>Curso:
                <br>
                Tarea:
                </Br>
                Grupo:
            </p>
          </div>
        </aside>
    </div>



    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ProyAvanzWeb.Tarea2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery-3.5.1.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.dataTables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
