<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyAvanzWeb.Tarea2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProyAvanzWeb.Tarea2.styles.css" asp-append-version="true" />
</head>
<body>
    <header>

            <h1 id="logo">Allan Naranjo Chacón</h1>

            <ul class="nav nav-pills" role="tablist">
                <li role="presentation">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Principal</a>
                </li>
                <li role="presentation">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Edificios" asp-action="Index">Edificios</a>
                </li>
                <li role="presentation">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Servicios" asp-action="Index">Servicios</a>
                </li>
                <li role="presentation">
                    <a class="nav-link text-dark" asp-area="" asp-controller="ServiciosEdificio" asp-action="Index">Asignar servicios</a>
                </li>
                <li role="presentation">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Acerca de</a>
                </li>
            </ul>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ProyAvanzWeb.Tarea2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery-3.5.1.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.dataTables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
